<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>

<h1> Entrez vos coordonées</h1>
<!-- <p>
<form action="/create" method="post"> <br>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> <br>
<input type="text" name="username" > <br>
<input type="text" name="email" > <br>
<input type="text" name="bio" >
<input type="submit" name="Envoyez" >
</form>
</p> -->




                          <!--   form tag  -->

    <!-- <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'username' %>
      <%= text_field_tag 'username', @user.username %>
      <br /> <br />

      <%= label_tag 'Bio' %>
      <%= text_area_tag 'bio', @user.bio %>
      <br /> <br />

      <%= label_tag 'Email' %>
      <%= text_field_tag 'email',  @user.email %>
      <br /> <br />

      <%= submit_tag "Create Post" %>

    <% end %> -->







<!-- <%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :username %>
  <%= f.text_field :email %>
  <%= f.text_area :bio, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %> -->
